@page "{id}"
@model ECommerceApp.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Product.Category.Name)
        </dd>
    </dl>
</div>